<div class="close-div">
    <mat-icon (click)="close()" >close</mat-icon>
</div>
<div class="body">
    <div class="form">
        <form [formGroup]="form" (ngSubmit)="submit()">
            <div >
                <h1 style="font-weight: bolder;">
                    Create Form
                </h1>
            </div>
            <mat-form-field class="ancho" appearance="fill">
                <mat-label >Enter a from name</mat-label>
                <input  type="text" matInput autocomplete="off" formControlName="formName">
            </mat-form-field>
            <button class="button" type="submit" mat-raised-button mat-button >Create</button>
        </form>
    </div>
</div>