<div class="close-div">
  <mat-icon (click)="close()">close</mat-icon>
</div>
<div class="body">
  <div class="form">
    <!-- Conditionally render form controls based on fieldName -->
    <h2>add {{fieldName}}</h2>
    <ng-container>
      <mat-form-field class="ancho" appearance="fill">
        <mat-label for="textField">{{fieldName}} Label:</mat-label>
        <input [(ngModel)]="fieldLabel" type="text" matInput autocomplete="off" id="{{fieldLabel}}">
      </mat-form-field>
    </ng-container>

    <mat-form-field *ngIf="fieldName==='checkBox'||fieldName==='dropBox'" class="ancho" appearance="fill">
      <mat-label for="dropBoxLabel">{{fieldName}} Option:</mat-label>
      <input type="text" [(ngModel)]="option" matInput autocomplete="off" >
    </mat-form-field>
    <div *ngIf="fieldName==='checkBox'||fieldName==='dropBox'" style="display: flex; justify-content: end;">
      <h4>Add Option</h4>
      <button (click)="addOption()" matTooltip="Add options" mat-mini-fab><mat-icon>add</mat-icon></button>
    </div>
    <div *ngIf="options.length>=1" class="option-div">
      <ul >
        <li class="ul-li-heading">{{fieldName}} options</li>
        <li style="margin-left: 15px;" *ngFor="let option of options">
          <a>{{option}}</a><mat-icon (click)="removeOption(options.indexOf(option))" style="color: red; cursor: pointer;">close</mat-icon>
        </li>
      </ul>
    </div>
    <button class="button" (click)="createField()" mat-raised-button mat-button>Create {{fieldName}}</button>
  </div>
</div>