<div class="body">
    <div class="login " >
        <form [formGroup]="loginForm" (ngSubmit)="login()">
            <div class="flex flex-col items-center">
                <!-- <img src="../../../assets/images/iconlogin.png" width="40%"> -->
                <h1 style="font-weight: bolder;">
                    Login
                </h1>
            </div>
            <mat-form-field class="ancho" appearance="fill">
                <mat-label class="text-sm">Enter your Email</mat-label>
                <input class="no-focus-ring" type="text" matInput autocomplete="off" formControlName="email">
            </mat-form-field>
            <mat-form-field class="ancho" appearance="fill">
                <mat-label class="text-sm">Enter your Password</mat-label>
                <input class="no-focus-ring" type="password" matInput autocomplete="off" formControlName="password">
            </mat-form-field>
            <button class="button" type="submit" mat-raised-button mat-button >Submit</button>
        </form>
    </div>
</div>