<div class="btn-div">
    <button mat-raised-button (click)="create()">Create Form</button>	
</div>
<div class="main-div">
<div class="card-main" fxLayout="row wrap" fxLayout.xs="column"  fxLayoutAlign="center center" >
    <mat-card  fxFlex.xs="50%" fxFlex.md="30%" fxFlex.lg="23%">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>HEAD</mat-card-title>
        <mat-card-subtitle>dkcfbdjfnjd</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image  alt="Photo ">
      <mat-card-content>
        <p>elqfnkelmfk;lqwmflw;dmw;lqdmwldmklqwfn</p>
      </mat-card-content>
      <div class="delete-btn" >
        <mat-icon>delete</mat-icon>
      </div>
    </mat-card>

    <mat-card  fxFlex.xs="50%" fxFlex.md="30%" fxFlex.lg="23%">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>HEAD</mat-card-title>
          <mat-card-subtitle>dkcfbdjfnjd</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image  alt="Photo ">
        <mat-card-content>
          <p>elqfnkelmfk;lqwmflw;dmw;lqdmwldmklqwfn</p>
        </mat-card-content>
        <div class="delete-btn" >
          <mat-icon>delete</mat-icon>
        </div>
      </mat-card>

    <mat-card fxFlex.xs="50%" fxFlex.md="30%" fxFlex.lg="23%">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>HEAD</mat-card-title>
          <mat-card-subtitle>dkcfbdjfnjd</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image  alt="Photo ">
        <mat-card-content>
          <p>elqfnkelmfk;lqwmflw;dmw;lqdmwldmklqwfn</p>
        </mat-card-content>
      </mat-card>

      <mat-card fxFlex.xs="50%" fxFlex.md="30%" fxFlex.lg="23%">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>HEAD</mat-card-title>
          <mat-card-subtitle>dkcfbdjfnjd</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image  alt="Photo ">
        <mat-card-content>
          <p>elqfnkelmfk;lqwmflw;dmw;lqdmwldmklqwfn</p>
        </mat-card-content>
      </mat-card>
       
      <mat-card fxFlex.xs="50%" fxFlex.md="30%" fxFlex.lg="23%">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>HEAD</mat-card-title>
          <mat-card-subtitle>dkcfbdjfnjd</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image  alt="Photo ">
        <mat-card-content>
          <p>elqfnkelmfk;lqwmflw;dmw;lqdmwldmklqwfn</p>
        </mat-card-content>
      </mat-card>

  </div>
  </div>