mat-card {
    background-color: rgb(230, 230, 230);
    margin: 5px;
    min-height: 300px;
    max-height: 300px;
    overflow-y:auto ;
    overflow-x:hidden;
}

.card-main {
    margin-top: 5px;
}

.btn-div {
    margin: 15px;
    display: flex;
    justify-content: end;
}

.delete-btn {
    color: rgb(197, 6, 6);
    position: absolute;
    margin-top: 8px;
}

::ng-deep .form-label {
    font-size: medium !important;
  }
  
  ::ng-deep .form-field {
    border-radius: 10px;
    border: 1px solid gray;
    padding: 10px !important;
    margin: 10px !important;
  }